body{
height:100%;
width:100%;
background-color:red;
}

h1,h2{
margin:0px;
padding:0px;
}
.toLeft{
margin-right:19px;}

h2{
text-align:center;}

span{
color:white}

.content{
display:flex;
}
.entry{
width:560px;
height:300px;
margin:10px;
padding:20px;
}